<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @nikki.value %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @nikki.datetime %>
</p>

<%= link_to 'Edit', edit_nikki_path(@nikki) %> |
<%= link_to 'Back', nikkis_path %>
